.note-page {
    padding: 10px;
    background-color: #fff;
    color: #2e2e2e;

    .note-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;

        th, td {
            padding: 10px;
            border: 1px solid #444;
            text-align: left;
        }

        th {
            &:nth-child(3) {
                width: 700px;
            }
        }

        td {
            input[type="checkbox"] {
                cursor: pointer;
            }

            .action-button {
                margin: 0 5px;
                display: inline-flex;
                align-items: center;
            }

            &:nth-child(3) {
                max-width: 700px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .note-footer {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;

        span {
            font-weight: bold;
        }
    }
}
