.group-modal {
    .modal-header {
        background-color: #007bff;
        color: white;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;

        .btn-primary {
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }
    }
}
