.task-page {
    padding: 20px;
    background-color: #fff;
    color: #2e2e2e;

    .task-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;

        th, td {
            padding: 10px;
            border: 1px solid #444;
            text-align: left;
        }

        th {
            &:nth-child(4) {
                width: 400px;
            }
        }

        td {
            input[type="checkbox"] {
                cursor: pointer;
            }

            span {
                color: #fff;
                border-radius: 3px;

                &.low {
                    background-color: #28a745;
                }

                &.medium {
                    background-color: #fd7e14;
                }

                &.high {
                    background-color: #dc3545;
                }
            }

            &:nth-child(4) {
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .action {
            display: flex;
            gap: 5px;
        }
    }

    .task-footer {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;

        span {
            font-weight: bold;
        }
    }
}
