.task-detail-modal {
    max-width: 800px;
    width: 90%;

    .modal-body {
        p {
            margin: 0 0 10px;
        }

        p:nth-child(2) { 
            max-height: 150px;
            overflow-y: auto;
            padding-right: 10px;
        }
    }

    .modal-content {
        padding: 20px;
    }
}
